include README.rst
include LICENSE
include COPYRIGHT
include man/lavue.1
include man/lavuetaurus.1
include man/lavuelib.1
include man/lavuemonitor.1
include man/LavueController.1
include man/lavuezmqstreamfromtango.1
include man/lavuezmqstreamtest.1
include lavuelib/images/lavue.png
include lavuelib/images/star1.png
include lavuelib/images/star2.png
include lavuelib/ui/*.ui
include lavuelib/qrc/resources.qrc
include lavuelib/qrc/resources.rcc
include lavuelib/help/*.html
include lavuelib/help/styles/site.css
include lavuelib/help/attachments/*/*.png
include lavuelib/help/attachments/*/*.jpg
include lavuelib/help/images/icons/*.gif
